{% macro confirmation_dialog(message, cancel_text, cancel_url_link,
                             confirm_text, confirm_url_link) %}
        <p><a href="{{ cancel_url_link }}">{{ cancel_text }}</a></p>
        <form action="{{ confirm_url_link }}" method='post'>
            <input type='submit' value='{{ confirm_text }}'>
        </form>
{% endmacro %}

{% extends 'base.html' %}

{% block title %}Catalog - {{ category.name }} - {{ item.name }} - Delete{% endblock %}

{% block header %}
<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            Do you really want to delete {{ item.name }} in {{ category.name }} ?
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        {% set cancel_url_link = url_for('show_item', category_id=category.id, item_id=item.id) %}
        {% set confirm_url_link = url_for('delete_item', category_id=category.id, item_id=item.id) %}

        {{ confirmation_dialog(message="Do you really want to delete this item?", cancel_text="No, Cancel", cancel_url_link=cancel_url_link, confirm_text="Yes, Delete", confirm_url_link=confirm_url_link) }}
	</div>
{% endblock %}